@charset "UTF-8";
.bodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ccccff;
}
.headerText {
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
}
.footerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
}
